# This is an ENV as an example. It is not a real value. You must insert the value of your env variables into the corresponding spaces.

EMAIL_NODEMAILER=example@gmail.com
PASSWORD_NODEMAILER=123456
SECRET=EXAMPLE
EMAIL_SUPERADMIN=example2@gmail.com
DB_CONNECTION=postgres://user:pass@example.com:5432/dbname